on: [pull_request]

jobs:
  size:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - uses: preactjs/compressed-size-action@v2
        with:
          compression: brotli
          pattern: './dist/*.min.js'
